*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: #ebebeb;
  font-family: sans-serif;
  display: flex;

}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  flex: 1;
  font-size: 20px;
}

main p {
}

form {
}

img {
  display: flex;
  height: 100vh;
  flex: 2;
}